<app-sidenav></app-sidenav>
<!-- <app-footer></app-footer> 
{{a()}}
<img [src]="cat"> 
<button (click)="test()"> aqui</button>
@if(value()){
    <H2>a</H2>
}@else if (!value()) {
    <H2>aaa</H2>
}@else{

}

@for(item of list();track item){
    <p>{{item}}</p>
}@empty {
    <p>list vasia</p>
}

@for(item of list2();track item){
    <p>{{item}}</p>
}@empty {
    <p>list vasia</p>
}

<h1>{{data}}</h1>
-->
<div class="main-content">
    <h1>Bem-vindo ao Menu Lateral</h1>
    <p>Este é o conteúdo principal da página.</p>
  </div>
  <div class="main-content">
    <h1>Bem-vindo ao Menu Lateral</h1>
    <p>Este é o conteúdo principal da página.</p>
  </div>